 .u-section-1 {
  filter: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 994px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  font-size: 4.5rem;
  margin: 102px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  height: 757px;
  margin-top: 7px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-1 .u-image-1 {
    height: 483px;
    margin-top: 24px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    height: 357px;
    margin-bottom: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 130px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 229px;
    margin-bottom: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2869px;
}

.u-section-2 .u-group-1 {
  width: 1076px;
  min-height: 2797px;
  height: auto;
  margin: 17px auto 56px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 24px;
}

.u-section-2 .u-text-1 {
  margin: 3px auto 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 14px 20px 0 30px;
}

.u-section-2 .u-image-1 {
  width: 595px;
  height: 452px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 37px 712px 0 30px;
}

.u-section-2 .u-group-elements-1 {
  width: 1020px;
  min-height: 145px;
  height: auto;
  margin: 14px 20px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 194px;
  height: 97px;
  margin: 24px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 268px;
  height: 66px;
  margin: -75px auto 0 247px;
}

.u-section-2 .u-image-4 {
  width: 77px;
  height: 77px;
  margin: -77px 347px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 278px;
  height: 145px;
  margin: -112px 0 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 13px 444px 0 30px;
}

.u-section-2 .u-text-5 {
  margin: 12px auto 0 100px;
}

.u-section-2 .u-text-6 {
  margin: 12px 20px 0 30px;
}

.u-section-2 .u-text-7 {
  margin: 30px 525px 0 30px;
}

.u-section-2 .u-text-8 {
  margin: 20px 20px 0;
}

.u-section-2 .u-text-9 {
  margin: 12px 593px 0 100px;
}

.u-section-2 .u-text-10 {
  margin: 20px 20px 0;
}

.u-section-2 .u-text-11 {
  margin: 30px 180px 0 20px;
}

.u-section-2 .u-text-12 {
  margin: 21px 20px 0;
}

.u-section-2 .u-text-13 {
  margin: 12px 504px 0 101px;
}

.u-section-2 .u-text-14 {
  margin: 20px 20px 0;
}

.u-section-2 .u-text-15 {
  margin: 30px 180px 0 20px;
}

.u-section-2 .u-text-16 {
  margin: 21px 504px 0 101px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 606px;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 338px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 419px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 518px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 64px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 436px;
    margin-left: 33px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 64px;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 436px;
    margin-left: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3266px;
  }

  .u-section-2 .u-group-1 {
    min-height: 3217px;
    margin-top: 0;
    margin-bottom: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 24px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-right: 30px;
    margin-left: 6px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 40px;
    min-height: 68px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    width: 136px;
    height: 68px;
    margin-top: 0;
  }

  .u-section-2 .u-image-3 {
    width: 164px;
    height: 33px;
    margin-top: -43px;
    margin-left: 176px;
  }

  .u-section-2 .u-image-4 {
    width: 47px;
    height: 47px;
    margin-top: -48px;
    margin-right: 220px;
  }

  .u-section-2 .u-image-5 {
    width: 146px;
    height: 59px;
    margin-top: -48px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 66px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 11px;
    margin-right: 6px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 11px;
    margin-right: 6px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-right: 6px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 31px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 20px;
    margin-right: 219px;
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3071px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 24px;
    min-height: 3023px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 12px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-image-1 {
    width: 398px;
    height: 302px;
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 44px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    margin-left: 146px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -47px;
    margin-right: 148px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -49px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 31px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 112px;
    margin-left: 32px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 19px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 31px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 16px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 17px;
    margin-right: 122px;
    margin-left: 32px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 16px;
    margin-right: 37px;
    margin-left: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3977px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 23px;
    min-height: 3905px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-image-1 {
    width: 286px;
    height: 208px;
    margin-top: 0;
    margin-right: 18px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 10px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 111px;
    width: 299px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    width: 105px;
    height: 53px;
  }

  .u-section-2 .u-image-3 {
    width: 123px;
    height: 36px;
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 38px;
    height: 38px;
    margin-top: -92px;
    margin-right: 24px;
  }

  .u-section-2 .u-image-5 {
    width: 94px;
    height: 49px;
    margin-top: 5px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 18px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 18px;
    margin-right: 12px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 18px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 18px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 18px;
    margin-right: 6px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 18px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 18px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 18px;
    margin-right: 6px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 18px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 12px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 18px;
    margin-right: 10px;
    margin-left: 18px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 858px;
}

.u-section-3 .u-list-1 {
  width: 1071px;
  margin: 7px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 35px));
  min-height: 792px;
  --gap: 70px;
  grid-auto-columns: calc(50% - 35px);
}

.u-section-3 .u-list-item-1 {
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-icon-1 {
  height: 70px;
  width: 70px;
  margin: 58px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 21px 30px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 30px 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 321px;
  height: 340px;
  object-position: 50% 0%;
  margin: 48px auto 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-icon-2 {
  height: 70px;
  width: 70px;
  margin: 58px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 21px 30px 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 20px 30px 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 321px;
  height: 340px;
  margin: 48px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 695px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1537px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 22px;
    margin-bottom: 46px;
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1469px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 38px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-2 {
    width: 300px;
    height: 300px;
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-bottom: -608px;
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    margin-bottom: -583px;
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 238px;
    height: 282px;
    margin-top: 41px;
    margin-left: 40px;
  }

  .u-section-3 .u-image-2 {
    width: 238px;
    height: 282px;
    margin-top: 41px;
    margin-left: 40px;
  }
}

.u-section-3 .u-list-item-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-list-item-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-list-item-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-1:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-3 .u-list-item-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-list-item-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-list-item-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-2:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-2:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-2:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-3 .u-btn-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-btn-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-btn-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-btn-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-btn-1:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-7871-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-7871-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7871-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-7871-74:not([data-block-selected]):not([data-cell-selected]).u-block-7871-74:not([data-block-selected]):not([data-cell-selected]).u-block-7871-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-3 .u-text-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-text-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-text-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-3 .u-text-3:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-3:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-3 .u-btn-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-btn-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-btn-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-3 .u-btn-4:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-btn-4:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-7871-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-7871-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7871-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-7871-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-7871-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-3 .u-text-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-text-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-text-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-3 .u-text-4:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-4:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-3 .u-text-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-text-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-text-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-3 .u-text-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-7871-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-7871-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7871-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-7871-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-7871-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-7871-78:not([data-block-selected]):not([data-cell-selected]),
.u-block-7871-78:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7871-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-7871-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-7871-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-3 .u-image-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-image-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-image-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-3 .u-image-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-image-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-image-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-image-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-3 .u-image-2:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-3 .u-image-2:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-7871-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-7871-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7871-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-7871-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-7871-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-7871-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-7871-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7871-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-7871-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-7871-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}