 .u-section-1 {
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1094px;
}

.u-section-1 .u-group-elements-1 {
  margin-top: 120px;
  margin-bottom: 0;
  height: auto;
  min-height: 950px;
  width: 1140px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 167px auto 0 102px;
}

.u-section-1 .u-image-1 {
  width: 411px;
  height: 109px;
  margin: -667px auto 0 694px;
}

.u-section-1 .u-image-2 {
  width: 280px;
  height: 66px;
  margin: -87px auto 0 35px;
}

.u-section-1 .u-image-3 {
  width: 283px;
  height: 37px;
  margin: -52px auto 60px 394px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 707px;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: 529px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 154px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 427px;
    margin-bottom: -606px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 120px;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 98px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-1 {
    width: 220px;
    height: 56px;
    margin-top: -665px;
    margin-left: 477px;
  }

  .u-section-1 .u-image-2 {
    width: 198px;
    height: 43px;
    margin-top: -49px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-3 {
    width: 134px;
    height: 34px;
    margin-top: -39px;
    margin-bottom: 60px;
    margin-left: 282px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    margin-top: 610px;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: 309px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 12px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 271px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 984px;
    margin-top: 120px;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-top: 180px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -560px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -149px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 16px;
    margin-left: 93px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1433px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-group-elements-1 {
  width: 1140px;
  min-height: 1232px;
  margin: 28px 0 60px;
}

.u-section-2 .u-image-1 {
  height: 510px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  width: 549px;
  height: 549px;
  margin: -84px 283px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 519px;
  height: 328px;
  margin: -71px 165px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-elements-1 {
    width: 759px;
    margin-right: -14px;
    margin-left: -26px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -82px;
    margin-right: auto;
    margin-left: 92px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -73px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1408px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 37px;
    margin-bottom: 59px;
    min-height: 870px;
    height: auto;
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 361px;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 239px;
    width: 288px;
    margin-top: 44px;
  }
}